language: r
cache: packages
warnings_are_errors: false

r_packages:
  - covr

r_github_packages: xrobin/mnist

after_success:
  - Rscript -e 'library(covr); codecov()'

# Ubuntu 14.04 Trusty support with GCC 4.8
dist: trusty
